* {
  box-sizing: border-box;
}
body {
  background: url("./assets/20.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
button {
  background: transparent;
  border-bottom: 1px solid #0035549c;
  cursor: pointer;
}
.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: rgba(33, 25, 66, 0.6);
  transition: width 0.4s;
}
body.open .sidebar {
  width: 260px;
}
.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}
.sidebar-hedear {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
  background: #190453;
}
.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url("./assets/icon-burger.svg") no-repeat center center;
}
body.open .sidebar-burger {
  background: url("./assets/icon-close.svg") no-repeat no-repeat center center;
}
.sidebar-logo {
  height: 20px;
  margin-left: 30px;
}
.sidebar-menu {
  display: grid;
}
.sidebar-menu > button {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 52px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 0.5;
  padding: 0 25px;
}
.sidebar-menu > button > img {
  width: 26px;
  height: 26px;
  background: #be95c475;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0px 1px 3px 2px #cfbaf0;
}
.sidebar-menu > button > span {
  color: #be95c4;
  font-weight: 700;
  text-transform: uppercase;
}
